/*
 * Copyright Otso Rajala <ojrajala@gmail.com>, 2020
 */

#grid {
  -fx-background-color: #fff;
  -fx-hgap: 10;
  -fx-vgap: 10;
  -fx-padding: 25;
}

#inputContainer {
  -fx-spacing: 8;
}

#inputContainer .label {
  -fx-min-width: 90;
}

#inputContainer .text-field {
  -fx-pref-width: 400;
}

#buttonContainer {
  -fx-alignment: center-left;
  -fx-spacing: 10;
}

#buttonContainer .button {
  -fx-cursor: hand;
  -fx-spacing: 5;
}
