/*
 * Copyright Otso Rajala <ojrajala@gmail.com>, 2020
 *
 */

#grid {
    -fx-background-color: yellow;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 25;
}

.button {
    -fx-background-color: lightpink;
    -fx-cursor: hand;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

.label {
    -fx-background-color: lightblue;
}

.text-field {
    -fx-background-color: lightgreen;
}

.hbox {
    -fx-alignment: center;
    -fx-padding: 10;
}

* {
    -fx-border-color: darkblue;
    -fx-border-style: solid;
    -fx-border-width: 1;
}
